$white : #ffffff;
$black : #000000;
$yellow : #9c8568;
$red: #ff2f2f;

$fonts : sans-serif;
$dancing : 'Dancing Script', cursive;
$great : 'Great Vibes', cursive;
$roboto : 'Roboto', sans-serif;
$m5 : 5px;
$m10 : 10px;
$m15 : 15px;
$m20 : 20px;
$m25 : 25px;
$m30 : 30px; 
$m50 : 50px;